html body {
	width: 100%;
	height: 100%;
	font-family: sans-serif;
	color: #222222;
}

.navbar {
	padding: 1rem;
}

.navbar-nav li {
	padding-right: 1.5rem !important;
}

.nav-link {
	font-size: 1.2em;
}

.carousel-inner img {
	width: 100%;
	height: 100%;
}

.carousel-caption {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.carousel-caption h1 {
	font-size: 500%;
	text-transform: uppercase;
}

.carousel-caption h3 {
	font-size: 300%;
	font-weight: 500;
	text-shadow: 1px 1px 10px #fff;
}

.jumbotron-fluid {
	padding: 1rem !important;
}

.welcome {
	font-size: 75%;
	margin: 0 auto;
}

.welcome hr {
	border: 1px solid black !important;
}

.fa-code {
	color: #e54d26;
}

.fa-bold {
	color: #563d7c;
}

.fa-css3 {
	color: #2163af;
}

.fa-code,.fa-bold,.fa-css3 {
	font-size: 3em !important;
	margin: 1em;
}

.funny {
	width: 100%;
	margin-top: 2em;
}

footer {
	background-color: #2f383d;
	color: #d5d5d5;
	padding-top: 2rem;
}

.service a {
	color: #d5d5d5;
}

.footer {
	max-width: 100%;
}

.navbar-footer {
	background-color: #24292d !important;
}

ul {
	list-style: none;
	display: block;
}

li {
	display: list-item;
	display: block;
}

.footer-title {
	font-size: 120%;
	font-style: italic;
	border-top: 2px solid #ffffff;
	border-bottom: 2px solid #ffffff;

}

.social-links {
	overflow: hidden;
}

.social-links li a {
    display: block;
    width: 30px;
    height: 30px;
    text-decoration: none;
    position: relative;
    border-radius: 50%;
    margin-right: 5px;
    -webkit-transition: background-color 0.3s ease-in;
    transition: background-color 0.3s ease-in;
}

.social-links li.fb a {
	background: url(./../images/social/fb-brand.png) no-repeat center #355599;
}
.social-links li.twt a {
	background: url(./../images/social/twt-brand.png) no-repeat center #0fccf4;
}
.social-links li.fk a {
	background: url(./../images/social/fk-brand.png) no-repeat center #834ca9;
}
.social-links li.rss a {
	background: url(./../images/social/rss-brand.png) no-repeat center #ffa11b;
}
.social-links li.vm a {
	background: url(./../images/social/vm-brand.png) no-repeat center #07c8aa;
}
.social-links li.gplus a {
	background: url(./../images/social/gplus-brand.png) no-repeat center #e0133a;
}

hr {
	border: 1px solid black !important;
}

.padding-top {
	padding-top: 2rem;
}

.slides-blog {
	width: 100%;
	height: auto;
	overflow: hidden;
}